<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
    <bean id="fileService" class="com.file.statistic.service.impl.FileService">
        <constructor-arg ref="fileWalker" />
        <constructor-arg ref="fileStatisticBuilder" />
    </bean>
    
    <bean id="fileWalker" class="com.file.walker.impl.FileWalker" />
    
    <bean id="fileStatisticBuilder" class="com.file.statistic.builder.file.impl.FileStatisticBuilder">
    	<constructor-arg ref="lineStatisticBuilder" />
    </bean>
    <bean id="lineStatisticBuilder" class="com.file.statistic.builder.line.impl.LineStatisticBuilder" />
    
    <bean id="fineStatisticRepository" class="com.dao.repository.impl.JDBCFileStatisticRepository">
    	<constructor-arg name="driverName" value="org.sqlite.JDBC" />
    	<constructor-arg name="url" value="jdbc:sqlite:D:/Study/Luxoft/projects/fileStatistic/fileStat.db" />
    	<constructor-arg name="user" value="" />
    	<constructor-arg name="password" value="" />
    </bean>
     
</beans>